##includeJS
##生成引入js文件的<script>元素
#macro(includeJs $filenames)
    #if(!$filenames.size())
    	#set($filenames = [$filenames])
    #end
    #foreach($name in $filenames)
        #if($name.startsWith("/"))
			<script type="text/javascript" src="${name}.js"></script>
        #else
			<script type="text/javascript" src="/script/${name}.js"></script>
        #end
    #end
#end



##radioGroup
##根据参数展示一组radio
##param $name raido的name
##param $raidos 所有选项，应该是一个数组，每个数组元素是对象，拥有value和text属性
##param $chose 默认应该选中的value值，应该是一个字符串，可以为空，此时不选中任何radio
#macro(radioGroup $name $radios $chose)
    #foreach($rad in $radios)
        <label>
        <input type="radio" id="${name}_${rad.value}" name="$name" value="$rad.value" #if("$chose" == "$rad.value") checked="checked" #end #if($rad.disable) disabled="disabled" #end />
		$rad.text
        </label>
    #end
#end

##checkGroup
##根据参数展示一组checkbox
##param $name checkbox的name属性
##param $checkboxs包含选择项集合
##param $chose 默认应该选中的value值组，应该是一个字符串，由逗号隔开，可以为空，此时不选中任何checkbox
#macro(checkGroup $name $checkboxs $chose)
	#set($choseArr = $chose.split(","))
	#foreach($check in $checkboxs)
    	<label>
    	<input type="checkbox" id="${name}_${check.value}" name="$name" value="$check.value" #foreach($val in $choseArr) #if("$check.value" == "$val") checked="checked" #end #end #if($check.disable) disabled="disabled" #end />
		$check.text
		</label>
	#end
	<input type="hidden" name="$name" value="" />
#end

##selectTag
##根据参数展示一个下拉列表框
##param $name select的name属性
##param $options包含选择项集合
##param $chose 默认应该选中的value值，应该是一个字符串，可以为空，此时默认第一项会被选中
##param $selectTagClass 指定select的class，如果留空，则默认为w3
#macro(selectTag $name $options $chose $selectTagClass)
	<select name="$name" id="$name" class="$display.alt($selectTagClass,"w3")">
		#foreach($option in $options)
		<option value="$option.value" #if("$chose"=="$option.value") selected="selected" #end>$option.text</option>
		#end
	</select>
#end

##catePropsSelect
##根据目录对应的属性组生成一组select
##param $name 所有select元素公用的id
##param $data 包含所有属性及属性值列表的变量，在JAVA应当是这样一个对象HashMap<Param, List<Param>>
##param $selected 已经选择的值，直接将数据库中的值传来即可，形如23423_234,342_34223,234_3444
#macro(catePropsSelect $name $data $selected $propOtherMap)
	#set($selectedArr = $selected.split(","))
	#foreach($prop in $data.keySet())
		<tr>
        <td>${prop.text}：</td>
		<td>
			#set($lst = $data[$prop])
			#if($foreach.count <= $selectedArr.size())
				#set($selectVal = $selectedArr[$foreach.index])
			#else
				#set($selectVal = 0)
			#end
			<select name="$name" id="${name}_${foreach.count}" class="with-other-option" data-otheroption="input[prop=${name}_${prop.value}]">
				<option value="">--请选择--</option>
        		#foreach($option in $lst)
        		<option value="${prop.value}_${option.value}"#if($selectVal == "${prop.value}_${option.value}")selected="selected"#end>$option.text</option>
        		#end
        	</select>
        	<input id="${name}_${foreach.count}_${prop.value}" class="text w3" name="${name}OtherValues" prop="${name}_${prop.value}" type="text" style="display: none;" value="$!esc.html($propOtherMap.get(${prop.value}))" maxlength="50"/>
			<input name="${name}OtherKeys" type="hidden" value="${prop.value}"/>
		</td>
		</tr>
	#end
#end


##展示一个树状结构
##param $data 一个递归的hash结构
##param $title 上一级传递过来的辅助参数
#macro(tree $data,$title)
	<dl>
		#if($title)
		<dt>$title</dt>
		#end
		#foreach($key in $data.keySet())
		<dd>
			#if($data.get($key).size()>0)
				#tree($data.get($key), $key)
			#else
				$key
			#end
		</dd>
		#end
	</dl>
#end
