h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
}

div,ol,ul,li,h2,h3,h4,table,td,p,form,span {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif, '宋体';
	font-size: 12px;
	line-height: 1.5;
	color: #333;
}

ol,ul,li {
	list-style: none;
}

img {
	border: 0;
}

.hidden {
	display: none;
}

a {
	color: 3b54b0;
	text-decoration: none;
}

a:link,a:visited {
	color: #3b54b0;
}

a:hover,a:active {
	color: #3b54b0;
	text-decoration: underline;
}

.chatArea {
	position: absolute;
	width: 450px;
	height: auto;
	left: 0px;
	top: 0px;
	border: 1px solid #adadad;
	background-color: #eee;
	padding: 6px 0 6px 6px;
	overflow: hidden;
	_zoom: 1;
}

.chatArea .chatBody {
	padding: 2px 1px 1px 5px;
	background: #fff;
	border: 1px solid #c6c6c6;
	overflow: hidden;
	position: relative;
}

.chatArea .chatBody ul {
	overflow-x: hidden;
	overflow-y: auto;
	height: 192px;
}

.chatArea .chatBody li {
	overflow: hidden;
	line-height: 19px;
}

.chatArea .chatBody li div a {
	cursor: pointer;
}

.chatArea .chatBody li div a:hover {
	text-decoration: underline;
}

.chatArea .chatBody li div span {
	float: left;
	margin-right: 7px;
	_display: inline;
}

.chatArea .chatBody li div span.professor {
	color: #0e8811;
}

.chatArea .chatBody li div span.visitor {
	color: #1478c8;
}

.chatArea .chatBody li div {
	margin-bottom: 1px;
	_margin-bottom: 0;
}

.chatArea .chatBody li div p {
	_display: inline;
	word-wrap: break-word;
	word-break: break-all;
}

.chatArea .chatBody li.chatTips {
	_zoom: 1;
}

.chatArea .chatBody li.chatTips b {
	float: left;
	width: 19px;
	height: 19px;
	background-position: -8px -500px;
}

.chatArea .chatBody li.chatTips em {
	margin-left: 23px;
	display: block;
	font-style: normal;
	color: #999;
	line-height: 19px;
}

.chatArea .chatBody li.chatTips em img {
	margin: 0 3px;
	vertical-align: middle;
}

.chatArea .chatBody img.ghiz {
	vertical-align: middle;
}

.chatArea .chatBody .alerMsgCon {
	display: none;
	position: absolute;
	left: 2px;
	top: 1px;
	width: 95%;
}

.chatArea .chatBody .alerMsgCon .alertMessage {
	border: 1px solid #DBC286;
	color: #000;
	font-size: 12px;
	font-family: 'Arial', 'Verdana', '����';
	margin-bottom: 1px;
	word-break: break-all;
	_height: 20px;
}

.chatArea .chatBody .alertMessage p {
	padding-bottom: 2px;
	padding-top: 2px\0;
	position: relative;
}

.chatArea .chatBody .webim_msgBg {
	background: #FFF1CD;
	opacity: .8;
	filter: alpha(opacity =         80);
}

.chatArea .chatBody .alerMsgCon .alertMessage .icon {
	float: left;
	width: 20px;
	height: 16px;
	font-size: 0;
	background-position: -8px -502px;
	margin-top: 2px;
	margin-left: 2px;
}

.chatArea .chatBody .alerMsgCon .alertMessage .del {
	float: right;
	width: 15px;
	height: 13px;
	background-position: -9px -217px;
	margin-right: 2px;
	margin-top: 2px;
}

.chatArea .chatBody .alerMsgCon .alertMessage .del:hover {
	background-position: -8px -239px;
	width: 15px;
	height: 13px;
}

.chatArea .chatInput {
	margin: 7px 0 6px;
	padding: 2px;
	overflow: hidden;
	height: auto;
	border: 1px solid #c6c6c6;
	background: #fff;
}

.chatArea .chatInput div {
	_overflow: hidden;
	width: 100%;
}

.chatArea .chatInput textarea {
	width: 100%;
	line-height:normal;
	border: 0;
	font-size: 12px;
	color: #333;
	text-align: left;
	overflow: hidden;
}

.chatArea .buttonArea {
	height: 21px;
}

.chatArea .buttonArea span {
	float: right;
	display: block;
	width: 66px;
	text-align: center;
	height: 23px;
	line-height: 23px;
	_line-height: 20px;
	background-position: 0 -2px;
	cursor: pointer;
}

.chatArea .buttonArea span .btnHover {
	background-position: -69px -2px;
}

.chatArea .buttonArea a {
	height: 32px;
	overflow: hidden;
	display: block;
	width: 22px;
	height: 20px;
	background-position: -5px -304px;
	outline: none;
}

.chatArea .buttonArea a:hover {
	border: 1px solid #8ABAD7;
	background-color: #DEECF8;
}